{% set title = 'Student_Course' %}
{% set filename = 'stu_course.html' %}

{% extends 'student/stu_master.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">
{% endblock %}

{% block content %}
<div>
    <div class="page-heading" style="float: left;width: 90%;">
        <h3>{{basic_info['name']}}, here is your courses.</h3>
    </div>
    <div class="page-heading" style="float: left; width: 10%;">
        <button class="btn btn-primary btn-block"><a href="{{ url_for('log_manage.logout') }}"
                class="btn btn-primary btn-block">Logout</a></button>
    </div>
</div>
<div class="page-content">
    <div class="col-12  ">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4 style="float: left; width: 85%;">Major</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th>Course ID</th>
                                    <th>Course Name</th>
                                    <th>Category</th>
                                    <th>Credit</th>
                                    <th>Semester</th>
                                    <th>Score</th>
                                    <th>GPA</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in major[0] %}
                                <tr>
                                    <td class="text-bold-500">{{ course.cid }}</td>
                                    <td class="text-bold-500">{{ course.cname }}</td>
                                    <td class="text-bold-500">{{ course.category }}</td>
                                    <td class="text-bold-500">{{ course.credit }}</td>
                                    <td class="text-bold-500">{{ course.semester }}</td>
                                    <td class="text-bold-500">
                                        {% if course.is_w %}
                                        W
                                        {% else %}
                                        {{ course.score }}
                                        {% endif %}
                                    </td>
                                    <td class="text-bold-500">
                                        {% if course.is_w %}
                                        W
                                        {% else %}
                                        {{ course.is_major }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br></br>
                    <h6 style="float: left; width: 85%;">Statistics by Category</h6>
                    <table class="table table-lg">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Credit</th>
                                <th>Average Score</th>
                                <th>Average GPA</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in major[1] %}
                            <tr>
                                <td class="text-bold-500">{{ category.category }}</td>
                                <td class="text-bold-500">{{ category.credit }}</td>
                                <td class="text-bold-500">{{ category.avg_score }}</td>
                                <td class="text-bold-500">{{ category.avg_gpa }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 style="float: left; width: 85%;">Minor</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th>Course ID</th>
                                    <th>Course Name</th>
                                    <th>Category</th>
                                    <th>Credit</th>
                                    <th>Semester</th>
                                    <th>Score</th>
                                    <th>GPA</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in minor[0] %}
                                <tr>
                                    <td class="text-bold-500">{{ course.cid }}</td>
                                    <td class="text-bold-500">{{ course.cname }}</td>
                                    <td class="text-bold-500">{{ course.category }}</td>
                                    <td class="text-bold-500">{{ course.credit }}</td>
                                    <td class="text-bold-500">{{ course.semester }}</td>
                                    <td class="text-bold-500">
                                        {% if course.is_w %}
                                        W
                                        {% endif %}
                                        {% if course.is_w == False %}
                                        {{ course.score }}
                                        {% endif %}
                                    </td>
                                    <td class="text-bold-500">
                                        {% if course.is_w %}
                                        W
                                        {% else %}
                                        {{ course.is_major }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br></br>
                    <h6 style="float: left; width: 85%;">Statistics by Category</h6>
                    <table class="table table-lg">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Credit</th>
                                <th>Average Score</th>
                                <th>Average GPA</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in minor[1] %}
                            <tr>
                                <td class="text-bold-500">{{ category.category }}</td>
                                <td class="text-bold-500">{{ category.credit }}</td>
                                <td class="text-bold-500">{{ category.avg_score }}</td>
                                <td class="text-bold-500">{{ category.avg_gpa }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
{% endblock %}