<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ web_title }}</title>
    {% block stylesfirst %}{% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        </br>
                        <li class="sidebar-item {{ 'active' }}">
                            <a href="{{ url_for('student.student', sid=basic_info['id']) }}" class='sidebar-link'>
                                <i class="bi bi-file-person"></i>
                                <span>BASIC INFO</span>
                            </a>
                        </li></br>
                        <li class="sidebar-item {{ 'active' }}">
                            <a href="{{ url_for('student.student_edit', sid=basic_info['id']) }}" class='sidebar-link'>
                                <i class="bi bi-emoji-sunglasses"></i>
                                <span>EDIT INFO</span>
                            </a>
                        </li></br>
                        <li class="sidebar-item {{ 'active' }}">
                            <a href="{{ url_for('student.course_check', sid=basic_info['id']) }}" class='sidebar-link'>
                                <i class="bi bi-emoji-smile"></i>
                                <span>COURSE CHECK</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block js %}{% endblock %}
    <script src="{{ url_for('static', filename='js/mazer.js') }}"></script>
</body>

</html>