{% set title = 'Input_Course_Info' %}
{% set filename = 'input_course_info.html' %}

{% extends 'teacher/tea_master.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">
{% endblock %}

{% block content %}
<div>
    <div class="page-heading" style="float: left;width: 90%;">
        <h3>Teacher {{basic_info['name']}}, please input course information here.</h3>
    </div>
    <div class="page-heading" style="float: left; width: 10%;">
        <button class="btn btn-primary btn-block"><a href="{{ url_for('log_manage.logout') }}"
                class="btn btn-primary btn-block">Logout</a></button>
    </div>
</div>
<div class="page-content">
    <div class="col-12  ">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4 style="float: left; width: 85%;">Basic Information</h4>
                </div>
                <form method="post" action="{{ url_for('teacher.modify_scores_view', tid = basic_info['id']) }}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="alert alert-light">
                                    <h4 class="alert-heading">COURSE ID</h4>
                                    <input type="text" name="cid" list="cid_list" class="form-control form-control-xl"
                                        placeholder="please input course id here">
                                    <datalist id="cid_list">
                                        {% for course in courses %}
                                        <option>{{ course['cid'] }}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                                <div class="alert alert-light">
                                    <h4 class="alert-heading">SEMESTER</h4>
                                    <input type="text" name="semester" list="sem_list"
                                        class="form-control form-control-xl" placeholder="please input semester here">
                                    <datalist id="sem_list">
                                        {% for course in courses %}
                                        <option>{{ course['semester'] }}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                                <div class="col-md-3 col-12">
                                    <br></br>
                                    <button class="btn btn-primary btn-lg btn-block">Confirm</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
{% endblock %}