{% set title = 'Input_Add_Course' %}
{% set filename = 'input_add_course.html' %}

{% extends 'teacher/input_basic.html' %}

{% block input_content %}
<form method="post" action="{{ url_for('teacher.add_scores_view', tid = basic_info['id']) }}">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                
                <div class="alert alert-light">
                    <h4 class="alert-heading">COURSE ID</h4>
                    <input type="text" name="cid" class="form-control form-control-xl"
                        placeholder="please input course id here">
                </div>
                <div class="alert alert-light">
                    <h4 class="alert-heading">SEMESTER</h4>
                    <input type="text" name="semester" class="form-control form-control-xl"
                        placeholder="please input semester here">
                </div>
                <div class="col-md-3 col-12">
                    <br></br>
                    <button class="btn btn-primary btn-lg btn-block">Confirm</button>
                </div>
            </div>

        </div>
    </div>
</form>
{% endblock %}