{% set title = 'Get_Faculty_Info' %}
{% set filename = 'get_facutly_info.html' %}

{% extends 'admin/admin_master.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">
{% endblock %}

{% block content %}
<div>
    <div class="page-heading" style="float: left;width: 90%;">
        <h3>Administrator {{basic_info['name']}}, here is the faculty information.</h3>
    </div>
    <div class="page-heading" style="float: left; width: 10%;">
        <button class="btn btn-primary btn-block"><a href="{{ url_for('log_manage.logout') }}"
                class="btn btn-primary btn-block">Logout</a></button>
    </div>
</div>
<div class="page-content">
    <div class="col-12  ">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4 style="float: left; width: 85%;">Teachers</h4>
                </div>
                <div class="card-body">
                    <br></br>
                    <div class="table-responsive">
                        <h6 style="float: left; width: 85%;">by Sex</h6>
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    {% for tea in tea_info[0] %}
                                    <th>{{ tea['sex'] }}</th>
                                    {% endfor %}
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for tea in tea_info[0] %}
                                    <td class="text-bold-500">{{ tea['tea nums'] }}</td>
                                    {% endfor %}
                                    <td class="text-bold-500">
                                        {{ tea_info[0] | sum(attribute='tea nums') }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br></br>
                    <div class="table-responsive">
                        <h6 style="float: left; width: 85%;">by Title</h6>
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    {% for tea in tea_info[1] %}
                                    <th>{{ tea['title'] }}</th>
                                    {% endfor %}
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for tea in tea_info[1] %}
                                    <td class="text-bold-500">{{ tea['tea nums'] }}</td>
                                    {% endfor %}
                                    <td class="text-bold-500">
                                        {{ tea_info[1] | sum(attribute='tea nums') }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 style="float: left; width: 85%;">Students</h4>
                </div>
                <div class="card-body">
                    <br></br>
                    <div class="table-responsive">
                        <h6 style="float: left; width: 85%;">by Sex</h6>
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    {% for stu in stu_info[0] %}
                                    <th>{{ stu['sex'] }}</th>
                                    {% endfor %}
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for stu in stu_info[0] %}
                                    <td class="text-bold-500">{{ stu['stu nums'] }}</td>
                                    {% endfor %}
                                    <td class="text-bold-500">
                                        {{ stu_info[0] | sum(attribute='stu nums') }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br></br>
                    <div class="table-responsive">
                        <h6 style="float: left; width: 85%;">by Grade</h6>
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    {% for stu in stu_info[1] %}
                                    <th>{{ stu['grade'] }}</th>
                                    {% endfor %}
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for stu in stu_info[1] %}
                                    <td class="text-bold-500">{{ stu['stu nums'] }}</td>
                                    {% endfor %}
                                    <td class="text-bold-500">
                                        {{ stu_info[1] | sum(attribute='stu nums') }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 style="float: left; width: 85%;">Courses</h4>
                </div>
                <div class="card-body">
                    <br></br>
                    <div class="table-responsive">
                        <h6 style="float: left; width: 85%;">by Category</h6>
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    {% for course in course_info %}
                                    <th>{{ course['category'] }}</th>
                                    {% endfor %}
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for course in course_info %}
                                    <td class="text-bold-500">{{ course['course nums'] }}</td>
                                    {% endfor %}
                                    <td class="text-bold-500">
                                        {{ course_info | sum(attribute='course nums') }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
{% endblock %}