{% set title = 'Student_Info' %}
{% set filename = 'student_info.html' %}

{% extends 'admin/admin_master.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">
{% endblock %}

{% block content %}
<div>
    <div class="page-heading" style="float: left;width: 90%;">
        <h3>Administrator {{basic_info['name']}}, here is the student information.</h3>
    </div>
    <div class="page-heading" style="float: left; width: 10%;">
        <button class="btn btn-primary btn-block"><a href="{{ url_for('log_manage.logout') }}"
                class="btn btn-primary btn-block">Logout</a></button>
    </div>
</div>
<div class="page-content">
    <div class="col-12  ">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4 style="float: left; width: 85%;">Student Info</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-lg">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Sex</th>
                                <th>Telephone</th>
                                <th>Address</th>
                                <th>Grade</th>
                                <th>Is Foreign Student?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stu in students %}
                            <tr>
                                <td class="text-bold-500">{{ stu.id }}</td>
                                <td class="text-bold-500">{{ stu.name }}</td>
                                <td class="text-bold-500">{{ stu.sex }}</td>
                                <td class="text-bold-500">{{ stu.telephone }}</td>
                                <td class="text-bold-500">{{ stu.address }}</td>
                                <td class="text-bold-500">{{ stu.grade }}</td>
                                <td class="text-bold-500">{{ stu.is_foreign_stu }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
{% endblock %}