{% set title = 'Admin_Edit' %}
{% set filename = 'admin_edit.html' %}

{% extends 'layouts/admin_master.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">
{% endblock %}

{% block content %}
<div>
    <div class="page-heading" style="float: left;width: 90%;">
        <h3>Administrator {{basic_info['name']}}, you can edit your imformation here!</h3>
    </div>
    <div class="page-heading" style="float: left; width: 10%;">
        <button class="btn btn-primary btn-block"><a href="{{ url_for('log_manage.logout') }}"
                class="btn btn-primary btn-block">Logout</a></button>
    </div>
</div>
<div class="page-content">
    <div class="col-12  ">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4 style="float: left; width: 85%;">Basic Information</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-light-success color-success">
                                            <i class="bi bi-check-circle"></i>{{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <form method="post" action="{{ url_for('admin.update_admin', tid = basic_info['id']) }}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="alert alert-light">
                                    <h4 class="alert-heading">ID</h4>
                                    <input type="text" name="id" class="form-control form-control-xl" readonly="true"
                                        value="{{ basic_info['id'] }}">
                                </div>
                                <div class="alert alert-light">
                                    <h4 class="alert-heading">NAME</h4>
                                    <input type="text" name="name" class="form-control form-control-xl" readonly="true"
                                        value="{{ basic_info['name'] }}">
                                </div>
                                <div class="alert alert-light">
                                    <h4 class="alert-heading">SEX</h4>
                                    <input type="text" name="sex" class="form-control form-control-xl" readonly="true"
                                        value="{{ basic_info['sex'] }}">
                                </div>
                                <div class="alert alert-light">
                                    <h4 class="alert-heading">FACULTY</h4>
                                    <input type="text" name="faculty" class="form-control form-control-xl"
                                        readonly="true" value="{{ basic_info['faculty'] }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="alert alert-light">
                                    <h4 class="alert-heading">TELEPHONE</h4>
                                    <input type="text" name="telephone" class="form-control form-control-xl"
                                        value="{{ basic_info['telephone'] }}">
                                </div>
                                <div class="alert alert-light">
                                    <h4 class="alert-heading">ADDRESS</h4>
                                    <input type="text" name="address" class="form-control form-control-xl"
                                        value="{{ basic_info['address'] }}">
                                </div>
                                <div class="alert alert-light">
                                    <h4 class="alert-heading">WORKING YEAR</h4>
                                    <input type="text" name="working_year" class="form-control form-control-xl"
                                        readonly="true" value="{{ basic_info['working_year'] }}">
                                </div>
                                <div class="alert alert-light">
                                    <h4 class="alert-heading">IS CADRE?</h4>
                                    <input type="text" name="title" class="form-control form-control-xl" readonly="true"
                                        value="{{ basic_info['is_cadre'] }}">
                                </div>
                            </div>
                            <div class="col-md-3 col-12">
                                <br></br>
                                <button class="btn btn-primary btn-lg btn-block">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
{% endblock %}